/*--------------------------------------------------------------
 Theme
----------------------------------------------------------------*/

.wrapper {
    display        : flex;
    justify-content: space-between;
    flex-direction : column;
    flex           : 1 0 auto;
}

main {
    background: #fff;
    margin-top: 100vh;
}

.home-banner {

    & .intro-header {
        position: fixed;
        top     : 0;
        left    : 0;
        height  : 100%;
        width   : 100%;
        display : table;
        z-index : -1;

        & .bg-image {
            z-index        : 1;
            position       : absolute;
            width          : 100%;
            height         : 100%;
            top            : 0;
            left           : 0;
            background-size: cover;
        }


    }

    & .item {
        background-size  : 100%;
        background-repeat: no-repeat;
        height           : 100vh;

        &::before {
            content         : "";
            position        : absolute;
            width           : 100%;
            height          : 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        & .bg-video {
            width : 100%;
            height: 100%;
            margin: auto;
        }
    }

    & #myVideo {
        vertical-align: bottom;
    }



    & .content {
        @include position(absolute, $left:0, $right:0, $top:30%);
        text-align                       : center;
        z-index                          : 1;
        color                            : $white;
        width                            : 100%;
        max-width                        : 600px;
        margin                           : auto;

        & h1 {
            font-size  : 34px;
            font-weight: normal;
            opacity    : 0.6;

            @include media-mobile-sm {
                font-size: 28px;
            }
        }

        & span {
            font-size     : 48px;
            font-weight   : 600;
            text-transform: uppercase;

            @include media-mobile-sm {
                font-size: 34px;
            }
        }

        & .typed-cursor {
            font-weight: normal;
            position   : relative;
            top        : -3px;
            animation  : blinkCursor .7s .5s linear infinite;
        }

        & .auction-btn {
            margin-top: 60px;

            & .btn-theme {
                margin: 0 15px;
                @include box-shadow(6px 6px 12px rgba(0, 0, 0, 0.1));

                @include media-mobile-sm {
                    width: 70%;
                }

                &:hover {
                    border-color: $white;
                }
            }
        }
    }

    & .down-arrow-btn {
        @include position(absolute, $bottom:10px, $left:0, $right:0);
        background-image                   : url("../images/mouse-icon.png");
        width                              : 28px;
        height                             : 57px;
        margin                             : auto;
        z-index                            : 1;
    }
}

#journey {
    background: $white;
    padding   : 100px 0;
    position  : relative;
    z-index   : 1;
    overflow  : hidden;

    & .content {

        & p {
            font-size  : 14px;
            line-height: 1.4;
        }

        & .btn-theme {
            &:hover {
                color: $blue !important;
            }
        }
    }


    & .slider-carousel {
        width    : 100%;
        max-width: 550px;
        position : relative;

        & .circlebg {
            & svg {
                width    : 550px;
                height   : 550px;
                animation: rotation 5s infinite linear;

                @include media-mobile-md {
                    width : 100%;
                    height: 100%;
                }
            }
        }

        & .outerData {
            @include position(absolute, 0, 0, 0, 0);
            overflow: hidden;

            @include media-mobile-md {
                overflow: visible;
            }
        }

        & .for-carousel {
            list-style-type: none;
            width          : 100%;
            position       : relative;
            max-width      : 550px;
            margin         : 0 auto;
            min-height     : 550px;
            height         : auto;
            display        : flex;
            align-items    : center;

            @include media-mobile-md {
                min-height: 100%;
            }

            &.owl-carousel.owl-drag.owl-carousel .owl-stage-outer {
                overflow: visible;
            }

            & .content {
                position    : relative;
                margin-left : 190px;
                text-align  : left;
                margin-right: 80px;

                @include media-mobile-md {
                    padding: 0px 50px 0 90px;
                    margin : -20px 0 0;
                }

                & h3 {
                    position   : relative;
                    font-size  : 30px;
                    font-family: $secondary-font;
                    font-weight: 600;

                    & .count {
                        background-image                : url("../images/sprite.png");
                        background-repeat               : no-repeat;
                        background-size                 : 300px;
                        @include position(absolute, $top:-50px, $left:-35px);
                        z-index                         : -1;

                        @include media-mobile-md {
                            background-size: 160px;
                        }

                        &.count1 {
                            background-position: 0 -119px;
                            width              : 42px;
                            height             : 84px;

                            @include media-mobile-md {
                                background-position: 0 -63px;
                                width              : 22px;
                                height             : 45px;
                            }
                        }

                        &.count2 {
                            background-position: -47px -119px;
                            width              : 60px;
                            height             : 84px;

                            @include media-mobile-md {
                                background-position: -24px -64px;
                                width              : 35px;
                                height             : 45px;
                            }
                        }

                        &.count3 {
                            background-position: -113px -119px;
                            width              : 65px;
                            height             : 84px;

                            @include media-mobile-md {
                                background-position: -62px -64px;
                                width              : 35px;
                                height             : 45px;
                            }
                        }

                        &.count4 {
                            background-position: -179px -119px;
                            width              : 68px;
                            height             : 84px;

                            @include media-mobile-md {
                                background-position: -95px -64px;
                                width              : 35px;
                                height             : 45px;
                            }
                        }

                        @include media-mobile-md {
                            left: -28px;
                            top : 0;
                        }
                    }

                    @include media-mobile-md {
                        font-size: 16px;
                    }
                }

                & p {
                    @include media-mobile-md {
                        font-size: 13px;
                    }
                }

                & .slide-icon {
                    @include position(absolute, $bottom:-200px, $left:-188px);
                    padding                            : 0;
                    width                              : 220px;
                    background-color                   : $white;
                    height                             : 200px;

                    @include media-mobile-md {
                        width : 100px;
                        height: 100px;
                        bottom: -200px;
                        left  : 0;
                        right : 0;
                        margin: auto;
                    }

                    @include media-mobile-sm {
                        bottom: -150px;
                    }

                    & svg {
                        @include position(absolute, $top:50%, $left:50%);
                        width                           : 150px;
                        height                          : 150px;
                        margin                          : -75px 0 0 -75px;

                        @include media-mobile-md {
                            width : 90px;
                            height: 90px;
                            margin: -45px 0 0 -45px;
                        }
                    }
                }
            }

            & .owl-nav {
                @include position(absolute, $right:200px, $bottom:130px);

                @include media-mobile-md {
                    left  : 0;
                    right : 0;
                    bottom: -150px;
                }


                & button {
                    display       : inline-block;
                    vertical-align: middle;
                    width         : 40px;
                    height        : 40px;
                    outline       : none;
                    margin        : 0px 4px;

                    &:hover {
                        background: none;
                    }

                    &.disabled {
                        opacity: 0.5;
                    }

                    & span {
                        display: none;
                    }

                    &.owl-prev {
                        background-image : url("../images/start-journey-arrow-sprite.png");
                        background-repeat: no-repeat;
                        background-size  : cover;
                    }

                    &.owl-next {
                        background-image   : url("../images/start-journey-arrow-sprite.png");
                        background-repeat  : no-repeat;
                        background-size    : cover;
                        background-position: -48px 0px;
                    }
                }
            }
        }
    }

    & .journey-line {
        position     : relative;
        padding-right: 30px;
        margin-right : 50px;

        @include media-mobile-md {
            width        : 100%;
            padding-right: 0;
            margin-right : 0;
            margin-top   : 200px;
        }

        &::after {
            content         : "";
            background-color: $light-blue;
            width           : 1px;
            height          : 100%;
            position        : absolute;
            right           : 0;
            top             : -100px;

            @include media-mobile-md {
                width   : 100%;
                height  : 1px;
                position: absolute;
                right   : 0;
                top     : auto;
                bottom  : 19px;
            }
        }

        & ul {
            list-style-type: none;
            display        : flex;
            height         : 100%;
            align-items    : center;
            justify-content: space-evenly;
            flex-wrap      : wrap;
            flex-direction : column;
            min-height     : 600px;

            @include media-mobile-md {
                display   : inline-block;
                height    : 100%;
                width     : 100%;
                position  : relative;
                min-height: 70px;
            }

            & li {
                text-align: right;
                position  : relative;
                width     : 100%;
                cursor    : pointer;

                @include media-mobile-md {
                    display       : inline-block;
                    width         : calc(25% - 3px);
                    text-align    : center;
                    position      : relative;
                    cursor        : pointer;
                    vertical-align: top;
                }

                & h3 {
                    font-family   : $secondary-font;
                    font-weight   : 500;
                    font-size     : 20px;
                    text-transform: capitalize;
                    color         : #8CDAD5;
                    margin-bottom : 10px;
                    @include transition(all 0.3s ease-in 0s);

                    @include media-mobile-md {
                        font-size: 18px;
                    }

                    @include media-mobile-sm {
                        font-size: 16px;
                    }
                }

                &::after {
                    background-color                  : $light-blue;
                    content                           : "";
                    @include position(absolute, $right:-36px, $top:8px);
                    @include border-radius(50%);
                    width  : 13px;
                    height : 13px;
                    z-index: 1;
                    @include transition(all 0.3s ease-in 0s);

                    @include media-mobile-md {
                        right  : 0;
                        left   : 0;
                        top    : 43px;
                        z-index: 1;
                        margin : auto;
                    }
                }

                &.active {
                    & h3 {
                        font-size: 26px;
                        color    : $primary-color;

                        @include media-mobile-md {
                            font-size: 18px;
                        }
                    }

                    &::after {
                        background-color: $primary-color;
                        top             : 11px;

                        @include media-mobile-md {
                            top: 43px;
                        }
                    }
                }
            }
        }
    }


}

.platform {
    background      : url("../images/platform-left-bg.png") no-repeat -2% 0%/30% #e6f6f0;
    background-color: $light-blue-bg;

    & .content {
        & .heading2 {
            & b {
                font-weight: 800;
            }
        }

        & p {
            font-size  : 16px;
            line-height: 30px;
            margin     : 20px 0 30px;
            max-width  : 350px;
        }

        & .btn-theme {
            &:hover {
                color: $blue !important;
            }
        }
    }

    & .paltform-box {
        & li {
            & .card {
                position       : relative;
                display        : flex;
                flex-wrap      : wrap;
                align-items    : flex-start;
                justify-content: flex-end;
                flex-direction : column;
                padding        : 20px 20px 40px;
                text-align     : left;
                overflow       : hidden;
                @include box-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
                @include border-radius(10px);
                min-height      : 350px;
                background-color: $card-bg;

                & .nameimg {
                    background-image : url("../images/sprite.png");
                    background-repeat: no-repeat;
                    position         : absolute;
                    top              : 20px;
                    right            : 0px;

                    height: 97px;

                    &.img1 {
                        background-position: 0 0;
                        width              : 160px;
                    }

                    &.img2 {
                        background-position: -169px 0;
                        width              : 173px;
                    }

                    &.img3 {
                        background-position: -350px 0;
                        width              : 183px;
                    }

                    &.img4 {
                        background-position: 0 -107px;
                        width              : 129px;
                    }

                    &.img5 {
                        background-position: -140px -107px;
                        width              : 160px;
                    }

                    &.img6 {
                        background-position: -310px -107px;
                        width              : 118px;
                    }
                }

                & .card-body {
                    & .card-title {
                        font-weight  : 600;
                        font-size    : 24px;
                        margin-bottom: 10px;
                    }

                    & p {
                        font-weight  : normal;
                        font-size    : 14px;
                        line-height  : 1.4;
                        margin-bottom: 20px;
                    }

                    & a {
                        color      : rgba(18, 47, 71, .8);
                        font-weight: 600;
                        position   : relative;
                        font-size  : 14px;

                        &::after {
                            background-color                : rgba(18, 47, 71, .8);
                            width                           : 10px;
                            height                          : 2px;
                            content                         : "";
                            margin                          : auto;
                            @include position(absolute, $top:0, $bottom:0, $right:-20px)
                        }
                    }
                }
            }

            &:nth-child(2) {
                & .card {
                    background-color: #94C6ED;
                }
            }

            &:nth-child(3) {
                & .card {
                    bottom          : -20px;
                    background-color: #ADE8F2;

                    @include media-mobile-md {
                        bottom: 0;
                    }
                }
            }

            &:nth-child(4) {
                & .card {
                    min-height      : 310px;
                    background-color: #BBEDE9;

                    @include media-mobile-md {
                        min-height: 350px;
                    }
                }
            }

            &:nth-child(5) {
                & .card {
                    background-color: #ABC1F5;
                }
            }

            &:nth-child(6) {
                & .card {
                    bottom          : -25px;
                    background-color: #8DD5D9;

                    @include media-mobile-md {
                        bottom: 0;
                    }
                }
            }
        }
    }
}

.reduction {
    background: #FDFBF6;

    & .reduction-section {
        & .reduction-block-1 {
            max-width : 50%;
            width     : 100%;
            position  : relative;
            text-align: right;

            @include media-mobile-md {
                max-width : 100%;
                text-align: center;
            }

            & ul {
                display        : inline-block;
                width          : 100%;
                text-align     : center;
                list-style-type: none;
                position       : relative;
                overflow       : hidden;
                max-width      : 80%;

                @include media-mobile-md {
                    max-width: 100%;
                    padding  : 30px 0;
                    font-size: 0;
                    z-index  : 1;
                }

                & li {
                    display       : inline-block;
                    width         : calc(33.33% - 63px);
                    text-align    : center;
                    word-break    : break-word;
                    vertical-align: top;
                    margin        : 30px 30px;

                    @include media-mobile-md {
                        width : 33.33%;
                        margin: 0 0 25px;
                    }

                    & svg {
                        max-height: 100px;
                    }

                    & p {
                        font-weight: 600;
                        font-size  : 16px;
                        color      : $black;
                        margin     : 10px 0 0;
                        padding    : 0 10px;
                    }

                    & .enterprise-data-rotate-img {
                        & .rotationx {
                            top   : 25%;
                            left  : 50%;
                            width : 40px;
                            height: 40px;
                            margin: -25px 0 0 -20px;
                        }
                    }
                }
            }

            & .line-1-wrap {
                @include position(absolute, $top:0, $right:-55%);
                max-width                       : 50%;
                height                          : 100%;
                width                           : 100%;

                @include media-mobile-md {
                    position : absolute;
                    left     : 0px;
                    top      : 500px;
                    max-width: 60%;
                }

                & p {
                    @include position(absolute, $top:40%, $right:-45%);
                    text-align                      : center;
                    max-width                       : 90%;
                    background-color                : #FDFBF6;
                    z-index                         : 1;
                    padding                         : 30px 0px;
                    font-weight                     : normal;
                    font-size                       : 14px;
                    line-height                     : 1.4;

                    @include media-mobile-md {
                        top       : 10%;
                        right     : 0;
                        padding   : 10px 0px;
                        width     : 300px;
                        margin    : auto;
                        left      : -5%;
                        max-width : none;
                        text-align: left;
                        font-size : 16px;
                    }
                }

                & .svg-how-1-line {
                    @include media-mobile-md {
                        display : block;
                        height  : 600px;
                        width   : 70%;
                        position: absolute;
                        top     : 0;
                    }
                }
            }
        }

        & .reduction-block-2 {
            & .analysis-part {
                max-width   : 350px;
                display     : inline-block;
                margin-right: 200px;
                position    : relative;
                top         : -120px;

                @include media-mobile-md {
                    right       : 0;
                    max-width   : 70%;
                    display     : inline-block;
                    position    : relative;
                    top         : -40px;
                    padding     : 120px 0 0;
                    margin-right: 0;
                }

                & .analysis-anim-wrap {
                    & svg {
                        @include media-mobile-md {
                            width: 100%;
                        }
                    }

                    & .intro-data {
                        float    : right;
                        max-width: 240px;
                        position : relative;
                        top      : -50px;
                        right    : -40px;

                        & h3 {
                            font-size  : 26px;
                            font-weight: 600;
                        }

                        & p {
                            font-size: 14px;
                        }
                    }
                }
            }

        }

        & .reduction-block-3 {
            @include media-desktop-md-min {
                margin-top: -200px;
            }

            & .systam-info {
                display       : inline-block;
                max-width     : 40%;
                width         : 100%;
                position      : relative;
                vertical-align: middle;

                @include media-mobile-md {
                    max-width: 100%;
                    display  : block;
                }

                & .line-2-wrap {
                    position : absolute;
                    top      : -40%;
                    right    : -90%;
                    left     : 0;
                    margin   : auto;
                    max-width: 100%;

                    @include media-mobile-md {
                        position  : relative;
                        top       : 0;
                        right     : auto;
                        text-align: center;
                    }

                    & .desktop-line {
                        @include transform(scale(0.9));

                        & .second-line {
                            margin-left: -230px;
                        }
                    }
                }

                & ul {
                    list-style-type: none;
                    position       : relative;
                    text-align     : center;
                    z-index        : 2;
                    margin         : 20px -45px -10px;

                    & li {
                        width         : calc(33.33% - 63px);
                        display       : inline-block;
                        margin        : 30px 30px;
                        vertical-align: top;

                        & svg {
                            max-width: 110px;
                            height   : auto;

                            &:last-child {
                                position         : absolute;
                                right            : -15px;
                                top              : 2px;
                                bottom           : 0;
                                -webkit-animation: scaleup2 0.9s infinite alternate;
                                animation        : scaleup2 0.9s infinite alternate;
                                max-width        : 100%;
                                max-height       : 100%;
                                opacity          : 0;
                            }
                        }
                    }
                }

                & .confidence-score {
                    z-index: 9;

                    & .line-3-wrap {
                        @include position(absolute, $top:-40px, $left:30px, $right:30px);
                        @include transform(scale(0.9));
                        overflow: hidden;
                        z-index : -1;
                        height  : 80px;
                        display : flex;

                        & div {
                            width: 33.333%;
                        }
                    }

                    & h3 {
                        font-family  : Sora;
                        font-style   : normal;
                        font-weight  : 600;
                        font-size    : 22px;
                        padding      : 25px 80px;
                        background   : #C0EDE3;
                        border       : 1px solid #122F47;
                        margin       : 0 0 15px;
                        border-radius: 10px;
                    }
                }
            }

            & .systam-data {
                display       : inline-block;
                vertical-align: middle;
                max-width     : 26%;
                width         : 100%;
                margin-left   : 40px;
                position      : relative;
                top           : 10px;
                opacity       : 0;

                @include media-mobile-md {
                    max-width  : 100%;
                    margin-left: 0;
                    padding-top: 60px;
                }

                & h3 {
                    font-style   : normal;
                    font-weight  : 600;
                    font-size    : 26px;
                    margin-bottom: 10px;
                }

                & p {
                    font-weight: normal;
                    font-size  : 14px;
                    line-height: 1.4;
                }
            }
        }

        & .reduction-block-4 {
            padding-top: 200px;

            & .ledger-data {
                display   : inline-block;
                width     : 100%;
                max-width : 50%;
                text-align: center;

                @include media-mobile-md {
                    max-width: 100%;
                }

                & .line-4 {
                    @include position(absolute, $top :-80px, $right:40%);
                    @include transform(scale(0.9));
                    max-width: 20%;
                    height   : 80%;

                    @include media-mobile-md {
                        overflow: hidden;
                        height  : 28%;
                        left    : 0;
                        right   : 0;
                        top     : 20px;
                        margin  : auto;
                    }

                    & svg {
                        @include media-mobile-md {
                            height: 100%;
                        }
                    }
                }

                & .plus-icon {
                    width           : 40px;
                    height          : 40px;
                    background-color: #C0EDE3;
                    position        : absolute;
                    left            : -80px;
                    right           : 0;
                    margin          : auto;
                    top             : 80px;
                    border-radius   : 50%;

                    @include media-mobile-md {
                        left  : 0;
                        right : 0;
                        width : 30px;
                        height: 30px;
                    }

                    &::after,
                    &::before {
                        @include position(absolute, 0, 0, 0, 0);
                        @include border-radius(6px);
                        content         : "";
                        width           : 6px;
                        height          : 50%;
                        background-color: $blue;
                        margin          : auto;

                        @include media-mobile-md {
                            width: 4px;
                        }
                    }

                    &::after {
                        @include transform(rotate(90deg));
                    }
                }

                & ul {
                    & li {
                        width         : calc(50% - 52px);
                        vertical-align: top;
                        margin        : 0 25px;
                        display       : inline-block;

                        @include media-mobile-md {
                            width : calc(50% - 20px);
                            margin: 0;

                            &:first-child {
                                margin-right: 20px;
                            }

                            &:last-child {
                                margin-left: 20px;
                            }
                        }

                        & .ledger-img {
                            margin-bottom: 10px;

                            & svg {
                                max-width: 100%;
                                height   : 180px;
                                width    : auto;


                            }
                        }

                        & .intro-data {
                            & h3 {
                                font-size  : 24px;
                                font-weight: 600;

                                @include media-mobile-md {
                                    font-size: 18px;
                                }
                            }

                            & p {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

        & .reduction-block-5 {
            padding-top: 60px;

            & .ledger {
                display: inline-block;
                width  : calc(45% - 0px);

                @include media-mobile-md {
                    width: 100%;
                }

                & .ledger-data {
                    width         : calc(50% - 52px);
                    vertical-align: top;
                    margin        : 0 25px;
                    display       : inline-block;

                    @include media-mobile-md {
                        width: 100%;
                    }

                    & .ledger-img {
                        @include media-mobile-md {
                            width: 40%;
                        }
                    }

                    & .intro-data {
                        & h3 {
                            font-size  : 24px;
                            font-weight: 600;
                        }

                        & p {
                            font-size: 13px;
                        }
                    }
                }

            }

            & .line-6-wrap {
                @include position(absolute, $top:10px, $right:-120px);
                -webkit-transform               : scale(0.9);
                transform                       : scale(0.9);

                & .lineDrops2 {
                    & div:last-child {
                        position: relative;
                        right   : 504px;
                        top     : -9px;
                    }
                }
            }
        }

        & .reduction-block-6 {


            & .horseLine {
                @include position(relative, $top:20px, $left:80px);
                @include transform(scale(0.9));
                display: inline-block;
            }

            & .mobHorse {
                @include media-mobile-md {
                    text-align: center;
                    padding   : 0 0 0 40px;
                    margin    : 10px 0 -70px;
                }
            }

            & .ledger-data {
                display     : inline-block;
                width       : calc(45% - 0px);
                text-align  : left;
                margin-right: -60px;
                float       : right;

                @include media-mobile-md {
                    width  : 100%;
                    margin : 100px auto 0;
                    display: block;
                }

                & .right-tick {
                    @include position(absolute, $top:-50px);
                    z-index                         : 1;
                    width                           : 28%;
                    height                          : 100%;
                    text-align                      : center;

                    @include media-mobile-md {
                        max-width: 70%;
                    }


                    & svg {
                        max-width: 100%;
                        height   : auto;

                        @include media-mobile-md {
                            max-width: 70%;
                        }
                    }
                }

                & .intro-data {
                    display       : inline-block;
                    vertical-align: middle;
                    max-width     : 60%;
                    padding-left  : 200px;

                    @include media-mobile-md {
                        max-width   : 100%;
                        padding-left: 100px;
                    }

                    & h3 {
                        font-size  : 24px;
                        font-weight: 600;

                        @include media-mobile-md {
                            font-size: 20px;
                        }
                    }

                    & p {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    & .btn-book {
        margin-top: 100px;

        & a {
            @include box-shadow(6px 6px 12px rgba(0, 0, 0, 0.1));

            &::hover {
                color: $blue !important;
            }
        }
    }
}



.form-col {
    width        : 60%;
    padding-left : 10px;
    padding-right: 10px;
    order        : 0;

    @include media-mobile-lg {
        width: 100%;
        order: 1;
    }

    .form {
        background-color: $white;
        padding         : 20px;
        @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));

        & .title1 {
            text-align: center;
        }

        & .information-heading {
            margin: 30px 0 15px 0;

            & p {
                margin-bottom: 0;
                font-weight  : 500;
                font-size    : 16px;

                & a {
                    color: $primary-color;

                    &:hover {
                        color: $black;
                    }
                }
            }
        }

        & .back-link {
            color      : $primary-color;
            font-size  : 14px;
            font-weight: 600;

            &:hover {
                color: $black;
            }
        }
    }
}

.sidebar {
    width        : 40%;
    padding-left : 10px;
    padding-right: 10px;

    order: 1;

    @include media-mobile-lg {
        width: 100%;
        order: 0;
    }

    & .summary {
        position: -webkit-sticky;
        position: sticky;
        top     : 20px;

        & .items {
            & .item-list {
                background-color: $white;
                padding         : 10px;
                @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));

                & .col-info {
                    width        : 75%;
                    padding-left : 10px;
                    padding-right: 10px;

                    @include media-mobile-sm {
                        width: 100%;
                    }

                    & .product-img {
                        border      : 1px solid $gray;
                        margin-right: 10px;
                        position    : relative;

                        & img {
                            width: 80px;
                        }

                        & .product-qty {
                            background-color: $gray;
                            width           : 18px;
                            height          : 18px;
                            @include border-radius(100px);
                            @include position(absolute, $top:-6px, $right:-6px);
                            display                         : flex;
                            align-items                     : center;
                            justify-content                 : center;
                            font-size                       : 13px;
                            font-weight                     : bold;
                        }
                    }

                    & .name {
                        font-size: 14px;
                    }

                    & .des {
                        font-size : 12px;
                        color     : $gray;
                        margin-top: 5px;
                    }
                }

                & .col-price {
                    width        : 25%;
                    padding-left : 10px;
                    padding-right: 10px;

                    & span {
                        font-size: 14px;
                    }

                    @include media-mobile-sm {
                        width: 100%;
                    }
                }
            }
        }

        & .summary-total {
            background-color: $white;
            padding         : 10px;
            @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));

            & ul {
                & li {
                    margin: 12px 0;

                    & span {
                        font-size: 14px;

                        & .promo-code-toggle {
                            cursor: pointer;
                            color : $primary-color;

                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
            }

            & .promo-code {
                position: relative;

                & .apply-btn {
                    background                      : none;
                    border                          : none;
                    @include position(absolute, $top:0, $right:0, $bottom:0);
                    padding                         : 10px 15px;
                    font-weight                     : 600;
                    cursor                          : pointer;
                }
            }

            & .total-price {
                border-top : 1px solid $gray;
                padding-top: 15px;

                & span {
                    font-size  : 18px;
                    font-weight: 600;
                }
            }
        }
    }

    & .useful-links {
        & li {
            padding   : 0 10px;
            text-align: center;

            & a {
                font-size  : 13px;
                font-weight: 500;
                color      : $primary-color;

                &:hover {
                    color: $black;
                }
            }
        }
    }
}